html,
body {
    height: 100%;
}

section{
	padding: 25px 0;
}


.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.div-space {
	height:50px;
}

.top-row th ,.top-row td {
	background-color: #f9f9f9;
	padding-left: 10px !important;
}

/* loader */
.loader-container{
    display: inline-block;
    margin-left: 15px;
}

.loader {
  /*margin: 100px auto;*/
  font-size: 5px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  -webkit-animation: load5 1.1s infinite ease;
  animation: load5 1.1s infinite ease;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
@-webkit-keyframes load5 {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #262626, 1.8em -1.8em 0 0em rgba(38,38,38, 0.2), 2.5em 0em 0 0em rgba(38,38,38, 0.2), 1.75em 1.75em 0 0em rgba(38,38,38, 0.2), 0em 2.5em 0 0em rgba(38,38,38, 0.2), -1.8em 1.8em 0 0em rgba(38,38,38, 0.2), -2.6em 0em 0 0em rgba(38,38,38, 0.5), -1.8em -1.8em 0 0em rgba(38,38,38, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(38,38,38, 0.7), 1.8em -1.8em 0 0em #262626, 2.5em 0em 0 0em rgba(38,38,38, 0.2), 1.75em 1.75em 0 0em rgba(38,38,38, 0.2), 0em 2.5em 0 0em rgba(38,38,38, 0.2), -1.8em 1.8em 0 0em rgba(38,38,38, 0.2), -2.6em 0em 0 0em rgba(38,38,38, 0.2), -1.8em -1.8em 0 0em rgba(38,38,38, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(38,38,38, 0.5), 1.8em -1.8em 0 0em rgba(38,38,38, 0.7), 2.5em 0em 0 0em #262626, 1.75em 1.75em 0 0em rgba(38,38,38, 0.2), 0em 2.5em 0 0em rgba(38,38,38, 0.2), -1.8em 1.8em 0 0em rgba(38,38,38, 0.2), -2.6em 0em 0 0em rgba(38,38,38, 0.2), -1.8em -1.8em 0 0em rgba(38,38,38, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(38,38,38, 0.2), 1.8em -1.8em 0 0em rgba(38,38,38, 0.5), 2.5em 0em 0 0em rgba(38,38,38, 0.7), 1.75em 1.75em 0 0em #262626, 0em 2.5em 0 0em rgba(38,38,38, 0.2), -1.8em 1.8em 0 0em rgba(38,38,38, 0.2), -2.6em 0em 0 0em rgba(38,38,38, 0.2), -1.8em -1.8em 0 0em rgba(38,38,38, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(38,38,38, 0.2), 1.8em -1.8em 0 0em rgba(38,38,38, 0.2), 2.5em 0em 0 0em rgba(38,38,38, 0.5), 1.75em 1.75em 0 0em rgba(38,38,38, 0.7), 0em 2.5em 0 0em #262626, -1.8em 1.8em 0 0em rgba(38,38,38, 0.2), -2.6em 0em 0 0em rgba(38,38,38, 0.2), -1.8em -1.8em 0 0em rgba(38,38,38, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(38,38,38, 0.2), 1.8em -1.8em 0 0em rgba(38,38,38, 0.2), 2.5em 0em 0 0em rgba(38,38,38, 0.2), 1.75em 1.75em 0 0em rgba(38,38,38, 0.5), 0em 2.5em 0 0em rgba(38,38,38, 0.7), -1.8em 1.8em 0 0em #262626, -2.6em 0em 0 0em rgba(38,38,38, 0.2), -1.8em -1.8em 0 0em rgba(38,38,38, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(38,38,38, 0.2), 1.8em -1.8em 0 0em rgba(38,38,38, 0.2), 2.5em 0em 0 0em rgba(38,38,38, 0.2), 1.75em 1.75em 0 0em rgba(38,38,38, 0.2), 0em 2.5em 0 0em rgba(38,38,38, 0.5), -1.8em 1.8em 0 0em rgba(38,38,38, 0.7), -2.6em 0em 0 0em #262626, -1.8em -1.8em 0 0em rgba(38,38,38, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(38,38,38, 0.2), 1.8em -1.8em 0 0em rgba(38,38,38, 0.2), 2.5em 0em 0 0em rgba(38,38,38, 0.2), 1.75em 1.75em 0 0em rgba(38,38,38, 0.2), 0em 2.5em 0 0em rgba(38,38,38, 0.2), -1.8em 1.8em 0 0em rgba(38,38,38, 0.5), -2.6em 0em 0 0em rgba(38,38,38, 0.7), -1.8em -1.8em 0 0em #262626;
  }
}
@keyframes load5 {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #262626, 1.8em -1.8em 0 0em rgba(38,38,38, 0.2), 2.5em 0em 0 0em rgba(38,38,38, 0.2), 1.75em 1.75em 0 0em rgba(38,38,38, 0.2), 0em 2.5em 0 0em rgba(38,38,38, 0.2), -1.8em 1.8em 0 0em rgba(38,38,38, 0.2), -2.6em 0em 0 0em rgba(38,38,38, 0.5), -1.8em -1.8em 0 0em rgba(38,38,38, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(38,38,38, 0.7), 1.8em -1.8em 0 0em #262626, 2.5em 0em 0 0em rgba(38,38,38, 0.2), 1.75em 1.75em 0 0em rgba(38,38,38, 0.2), 0em 2.5em 0 0em rgba(38,38,38, 0.2), -1.8em 1.8em 0 0em rgba(38,38,38, 0.2), -2.6em 0em 0 0em rgba(38,38,38, 0.2), -1.8em -1.8em 0 0em rgba(38,38,38, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(38,38,38, 0.5), 1.8em -1.8em 0 0em rgba(38,38,38, 0.7), 2.5em 0em 0 0em #262626, 1.75em 1.75em 0 0em rgba(38,38,38, 0.2), 0em 2.5em 0 0em rgba(38,38,38, 0.2), -1.8em 1.8em 0 0em rgba(38,38,38, 0.2), -2.6em 0em 0 0em rgba(38,38,38, 0.2), -1.8em -1.8em 0 0em rgba(38,38,38, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(38,38,38, 0.2), 1.8em -1.8em 0 0em rgba(38,38,38, 0.5), 2.5em 0em 0 0em rgba(38,38,38, 0.7), 1.75em 1.75em 0 0em #262626, 0em 2.5em 0 0em rgba(38,38,38, 0.2), -1.8em 1.8em 0 0em rgba(38,38,38, 0.2), -2.6em 0em 0 0em rgba(38,38,38, 0.2), -1.8em -1.8em 0 0em rgba(38,38,38, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(38,38,38, 0.2), 1.8em -1.8em 0 0em rgba(38,38,38, 0.2), 2.5em 0em 0 0em rgba(38,38,38, 0.5), 1.75em 1.75em 0 0em rgba(38,38,38, 0.7), 0em 2.5em 0 0em #262626, -1.8em 1.8em 0 0em rgba(38,38,38, 0.2), -2.6em 0em 0 0em rgba(38,38,38, 0.2), -1.8em -1.8em 0 0em rgba(38,38,38, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(38,38,38, 0.2), 1.8em -1.8em 0 0em rgba(38,38,38, 0.2), 2.5em 0em 0 0em rgba(38,38,38, 0.2), 1.75em 1.75em 0 0em rgba(38,38,38, 0.5), 0em 2.5em 0 0em rgba(38,38,38, 0.7), -1.8em 1.8em 0 0em #262626, -2.6em 0em 0 0em rgba(38,38,38, 0.2), -1.8em -1.8em 0 0em rgba(38,38,38, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(38,38,38, 0.2), 1.8em -1.8em 0 0em rgba(38,38,38, 0.2), 2.5em 0em 0 0em rgba(38,38,38, 0.2), 1.75em 1.75em 0 0em rgba(38,38,38, 0.2), 0em 2.5em 0 0em rgba(38,38,38, 0.5), -1.8em 1.8em 0 0em rgba(38,38,38, 0.7), -2.6em 0em 0 0em #262626, -1.8em -1.8em 0 0em rgba(38,38,38, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(38,38,38, 0.2), 1.8em -1.8em 0 0em rgba(38,38,38, 0.2), 2.5em 0em 0 0em rgba(38,38,38, 0.2), 1.75em 1.75em 0 0em rgba(38,38,38, 0.2), 0em 2.5em 0 0em rgba(38,38,38, 0.2), -1.8em 1.8em 0 0em rgba(38,38,38, 0.5), -2.6em 0em 0 0em rgba(38,38,38, 0.7), -1.8em -1.8em 0 0em #262626;
  }
}